<% provide(:title, "Tags") %>

<div class="container" style="min-height: 75vh">
    <h2>Tag name: <i><%= @tag.name %></i></h2>
    <ol>
    <% @posts.each do |post| %>
        <li><%= link_to post.title + " - " + post.user.username, post_path(post) %></li>
    <% end %>
    </ol>
</div>
