<% provide(:title, "Search") %>

<div class="container" style="min-height: 75vh">
   <h3>Search Result</h3>
   <ol>
    <% @results.each do |result| %>
      <li>
       <%= link_to result.title, post_path(result) %>  | <%= result.user.username %> <br>
      </li>
    <% end %>
    </ol>
</div>
